/*                                          /*
   Tailwind stuff I don't wanna write again 
              Made by MJ 2.0
/*                                          /*
        
/* Headers */
h1 { @apply text-3xl font-semibold }
h2 { @apply text-2xl font-semibold }
h3 { @apply text-xl font-medium }
h4 { @apply text-lg font-medium }
h5 { @apply text-base font-normal }
h6 { @apply text-sm font-normal }
        
/* Buttons */
.btn { @apply px-4 py-2 rounded-md font-medium }
.btn:active { --tw-bg-opacity: 0.8; }
.btn-red { @apply btn bg-red-500 text-white }
.btn-orange { @apply btn bg-orange-500 text-white }
.btn-amber { @apply btn bg-amber-500 text-white }
.btn-yellow { @apply btn bg-yellow-500 text-white }
.btn-lime { @apply btn bg-lime-500 text-white }
.btn-green { @apply btn bg-green-500 text-white }
.btn-emerald { @apply btn bg-emerald-500 text-white }
.btn-sky { @apply btn bg-sky-500 text-white }
.btn-teal { @apply btn bg-teal-500 text-white }
.btn-cyan { @apply btn bg-cyan-500 text-white }
.btn-blue { @apply btn bg-blue-500 text-white }
.btn-indigo { @apply btn bg-indigo-500 text-white }
.btn-violet { @apply btn bg-violet-500 text-white }
.btn-purple { @apply btn bg-purple-500 text-white }
.btn-fuchsia { @apply btn bg-fuchsia-500 text-white }
.btn-pink { @apply btn bg-pink-300 text-white }
.btn-rose { @apply btn bg-rose-500 text-white }
.btn-light { @apply btn bg-neutral-100 text-gray-900 }
.btn-light:active { @apply bg-neutral-200; --tw-bg-opacity: 1; }
.btn-white { @apply btn bg-white text-gray-900 }
.btn-white:active { @apply bg-neutral-100; --tw-bg-opacity: 1; }
.btn-grey { @apply btn bg-gray-500 text-white }
.btn-zinc { @apply btn bg-zinc-500 text-white }
.btn-neutral { @apply btn bg-neutral-500 text-white }
.btn-stone { @apply btn bg-stone-500 text-white }
.btn-dark { @apply btn bg-zinc-800 text-white }
.btn-black { @apply btn bg-black text-white }
