/*                                          /*
   Tailwind stuff I don't wanna write again 
              Made by MJ 2.0
/*                                          */
        
            @layer components {
                .primary:is(h1, h2, h3, h4, h5, h6, p, span, sup, sub, u, i, b, em, strong), .text-primary { @apply text-rose-500 }
                .primary:is(.card, .card-top, .card-center .card-bottom, div, .btn, button), .bg-primary { @apply bg-rose-500 }
                .secondary:is(h1, h2, h3, h4, h5, h6, p, span, sup, sub, u, i, b, em, strong), .text-secondary { @apply text-cyan-400 }
                .secondary:is(.card, div, .btn, button), .bg-secondary { @apply bg-cyan-400 }
                body { @apply bg-white text-black dark:bg-zinc-900 dark:text-white }
                
                h1 { @apply text-3xl font-semibold }
                h2 { @apply text-2xl font-semibold }
                h3 { @apply text-xl font-medium }
                h4 { @apply text-lg font-medium }
                h5 { @apply text-lg font-normal }
                h6 { @apply text-base font-normal }

                .btn, button { @apply px-3 py-2 rounded-md shadow text-white font-semibold }
                .btn:hover, button:hover { filter: brightness(1.1); }
                .btn:active, button:active { filter: brightness(0.8); }

                .card { @apply relative flex rounded-lg shadow-md w-32 h-48 }
                .card-top { @apply card items-start justify-center }
                .card-center { @apply card items-center justify-center }
                .card-bottom { @apply card items-end justify-center }
                .card-body { @apply p-3 }

                .tabs { @apply flex p-1 rounded-md gap-3 w-fit relative bg-secondary }
                .tabs > a, .tabs > button { @apply shadow-none w-20 flex items-center justify-center z-20 }
                .tab { @apply absolute h-full w-20 h-10 rounded-md z-10 bg-white/[.2]; transition: left 0.3s ease-in-out; }
                .top-tabs { @apply tabs pb-0 rounded-b-none }
                .top-tabs > .tab { @apply rounded-b-none }
                
                .dropdown > button { @apply bg-neutral-200 dark:bg-zinc-800 mb-2 }
                .dropdown > button:hover { filter: none; }
                .dropdown > .content { @apply p-3 rounded-md bg-neutral-200 dark:bg-zinc-800 max-w-sm text-white; scale: 0.5; transition: all 150ms ease }

                dialog { @apply dark:bg-zinc-800 dark:text-white w-96 rounded-2xl p-0 shadow-lg }
                dialog::backdrop { background: radial-gradient(black, transparent); }
                dialog > form { @apply p-5 flex flex-col gap-2 }
                dialog > form > p { @apply dark:text-neutral-200 }
                dialog > menu { @apply dark:bg-zinc-900 px-5 p-3 flex justify-end items-center gap-3 }
                dialog > menu > button { @apply bg-zinc-800 }
            }

